/inplay_programmer/.vs
/inplay_programmer/Debug
/inplay_programmer/Release
/inplay_programmer/inplay_programmer/Debug
/inplay_programmer/inplay_programmer/Release
/inplay_programmer/inplay_programmer/*.bin
/inplay_programmer/inplay_programmer/*.txt
/inplay_programmer/inplay_programmer/*.exe
/inplay_programmer/inplay_programmer/inplay_programmer.vcxproj.*
/inplay_programmer/inplay_programmer/backup
/inplay_programmer/inplay_programmer/uart_dump
/inplay_programmer/inplay_programmer/*.aps
/UARTDLL/.vs
/UARTDLL/Debug
/UARTDLL/Release
/UARTDLL/UARTDLL/UARTDLL.vcxproj.*
/UARTDLL/UARTDLL/Debug
/UARTDLL/UARTDLL/Release
/JTAGDLL/.vs
/JTAGDLL/Debug
/JTAGDLL/Release
/JTAGDLL/JTAGDLL/JTAGDLL.vcxproj.*
/JTAGDLL/JTAGDLL/Debug
/JTAGDLL/JTAGDLL/Release



