build/in_flash.uvmpw.*
build/mxic/out
build/mxic/RTE
build/mxic/in602_mxic.uvguix.*
build/mxic/in602_mxic.uvoptx
build/puya/out
build/puya/RTE
build/puya/in602_puya.uvguix.*
build/puya/in602_puya.uvoptx
build/giga/out
build/giga/RTE
build/giga/in602_giga.uvguix.*
build/giga/in602_giga.uvoptx
build/ram/out
build/ram/RTE
build/ram/in602_ram.uvguix.*
build/ram/in602_ram.uvoptx
build/ramapp/out
build/ramapp/RTE
build/ramapp/in602_ramapp.uvguix.*
build/ramapp/in602_ramapp.uvoptx


